th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid black;
  }
  
  tr {
    border-bottom: 1px solid black;
  }
  
  thead th {
    border-bottom: 2px solid black;
  }
  
  table {
    border-collapse: collapse;
  } 