.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(66, 85, 191);
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.cabecalho a {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
}

.conteudo div {
    background-color: black;
    margin: 30px;
    height: 100vh;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.conteudo h1 {
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 30px;
}