:root {
    --bg-button: white;
    --border-button: solid 1px #888
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: grey;
}

.button.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.operation {
    background-color: orangered;
    color: white;
}

.button.operation:active {
    background-color: rgb(255, 42, 0);
}
